<div>
    <div class="mb-3">
        <select class="custom-select d-block w-100" id="contentType">
            <option value="URLENCODED">FORM URL Encoded
                (application/x-www-form-urlencoded)
            </option>
            <option value="JSON" selected="selected">JSON (application/json)</option>
            <option value="HTML">HTML (text/html)</option>
            <option value="XML">XML (application/xml)</option>
            <option value="TEXT">TEXT (text/plain)</option>
        </select>
    </div>

    <div class="mb-3">
        <textarea class="form-control" id="content" name="content"></textarea>
    </div>
</div>